<div class="human">
  <%= link_to human.name, human_path(human) %>
  <div class="human__info">
    <p><%= human.human_type %></p>
  </div>
  <% if local_assigns[:dna] %>
  <table>
    <tbody>
      <% human.dna.split("\n") do |row| %>
        <tr>
          <%- row.chars.each do |value| %>
            <td><%= value %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
  <div class="human__actions">
    <%= link_to "Alter human", edit_human_path(human), class: "btn btn--secondary" %>
    <%= link_to "Destroy human", human_path(human), data: { "turbo-confirm": "Are you sure?", "turbo-method": :delete }, class: "btn btn--danger" %>
</div>
